/* 
    Document   : add
    Created on : 29 nov. 2013, 15:29:46
    Author     : salahdin
    Description:
        Purpose of the stylesheet follows.
*/

.valid1
{color:red;visibility:hidden; 
}

#reg {
	margin:20px 20px;
}
#valid{
    margin: 20px;
    color: red;
    
}


#reg input {
	margin:2px;
	border:#4c4c4c solid 1px;
	border-radius:4px;
	color:#FFF;
	background:#4c4c4c;
	padding:3px;
	box-shadow:inset 0px 0px 4px 2px #FFFFFF;
}

#reg input:focus {
	border:#FFF solid 1px;
	color:#4c4c4c;
	background:#FFF;
	box-shadow:inset 0px 0px 4px 2px #4c4c4c;
}

#reg select  {
	margin:2px;
	border:#4c4c4c solid 1px;
	border-radius:4px;
	color:#FFF;
	background:#4c4c4c;
	padding:3px;
	box-shadow:inset 0px 0px 4px 2px #FFFFFF;
}

#reg select:focus  {
	border:#FFF solid 1px;
	color:#4c4c4c;
	background:#FFF;
	box-shadow:inset 0px 0px 4px 2px #4c4c4c;
}

#reg input[type="submit"]:hover{
	color:#4c4c4c;
	background-color:#FFF;
	box-shadow:inset 1px 1px 4px 2px #4c4c4c ;
	
}

#reg input[type="button"]:hover{
	color:#4c4c4c;
	background-color:#FFF;
	box-shadow:inset 1px 1px 4px 2px #4c4c4c ;
	
}



