/* 
    Document   : Show
    Created on : 29 nov. 2013, 15:28:54
    Author     : salahdin
    Description:
        Purpose of the stylesheet follows.
*/




#All_rec_s {
	
	margin:0px 0 5px 0;
	font-size: 20px;
}
#All_rec_s  ul{
	list-style: none;
	width:700px;
	
	margin:0px auto 15px auto;
}


#All_rec_s  li{
	margin:10px auto ;
}

#All_rec_s  li:first-child{
	margin:0px auto 10px auto ;
}

 table {
	color:#FFFFFF; 
	margin:0px auto;
	height:30px;
	
}



td {
	width:90px;
}

.rec_s_f{
	border-radius:0px 0px 10px 10px;
	background:#4c4c4c;
	box-shadow:inset 0px 0px 10px 2px rgba(255,255,255,0.4);		
}

.rec_s {
	border-radius:10px;
	background:#4c4c4c;
	box-shadow:inset 0px 0px 10px 2px rgba(255,255,255,0.4);	
}


#All_rec_s input[type="submit"] {
	margin:2px;
	border:#4c4c4c solid 1px;
	border-radius:4px;
	color:#FFF;
	padding:3px;
	background:#4c4c4c;
	box-shadow:inset 0px 0px 7px 2px #CCCCCC;
}

#All_rec_s input[type="submit"]:hover{
	color:#4c4c4c;
	background-color:#FFF;
        border:#ccc solid 1px;
	box-shadow:inset 0px 0px 7px 2px #4c4c4c ;
}

